*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.whitetext{
    color: white;
}

button{
    background-color: #4a4a4a;
    padding: 5px;
    border-radius: 8px;
    cursor: pointer;
}

.flex{
    display: flex;
}

/* header */

header{
    background-color: black;
    height: 100px;
    width: 100%;
}

#Headerbox{
    justify-content: flex-end;
}

#grid{
    margin-right: 5px;
}

.buttonContainer{
    margin-top: 5px;
}

/* MAIN */

main{
    width: 100%;
    background-color: black;
    height: calc(100vh - 200px);
}

#ScatolaMain{
    width: 90%;
    margin: auto;
    flex-wrap: wrap;
    height: calc(100vh - 200px);
    padding-bottom: 13px;


}

img{
    height: 100%;
    width: 100%;
    padding-right: 5px;

}

.Scatolaimg{
    width: calc(100%/7 - 1em);
    height: 135px
}


/* FOOTER */

footer{
    background-color: #222222;
    height: 100px;
}

#ScatolaFooter{
    height: 100px;
}

.iconSize{
    font-size: 30px;
    padding-bottom: 10px;
    padding-left: 10px;
}

#leftIcons{
    width: 200px;
    justify-content: space-around;
    align-items: center;
}

.position{
    position: relative;
    width: 100px;
}

#freccia1{
    position: absolute;
    top: 22px;
    right: 32px;
}

#freccia2{
    position: absolute;
    top: 22px;
    right: 0;
}
